{% extends 'app/base.html' %} {# Extiende el layout base.html #}
{% load static %} {# Carga archivos estáticos como CSS y JS #}
{% block title %}Password Change{% endblock title %} {# Define el título de la página #}

{% block main-content %} {# Comienza el bloque principal del contenido #}
<div class="container my-5"> {# Crea un contenedor con margen superior #}
    <div class="row"> {# Crea una fila #}
        <h3>Welcome {{ request.user.username|capfirst }}</h3> {# Muestra un saludo personalizado para el usuario logueado #}
        <div class="col-sm-2 border-end"> {# Crea una columna de 2 de ancho con un borde en el extremo derecho #}
            <ul class="list-unstyled"> {# Crea una lista sin viñetas #}
                <li class="d-grid"><a href="#" class="btn btn-primary">Change Password</a></li> {# Agrega un botón para cambiar la contraseña #}
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1"> {# Crea una columna de 9 de ancho con un desplazamiento hacia la derecha de 1 columna #}
            <form action="" method="post" novalidate class="shadow p-5"> {# Crea un formulario con sombra y relleno #}
                {% csrf_token %} {# Incluye el token CSRF para protección contra ataques CSRF #}
                {% for fm in form %} {# Inicia un bucle que recorre los campos del formulario #}
                <div class="mb-3">
                    {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small> {# Muestra la etiqueta del campo, el campo en sí y cualquier error del campo #}
                </div>
                {% endfor %} {# Termina el bucle de campos del formulario #}
                <button type="submit" class="btn btn-primary">Submit</button> {# Agrega un botón de envío #}

                {% if form.non_field_errors %} {# Verifica si hay errores que no están relacionados con campos específicos #}
                {% for error in form.non_field_errors %} {# Inicia un bucle para mostrar errores generales del formulario #}
                <p class="alert alert-danger my-3">{{ error }}</p> {# Muestra un mensaje de error #}
                {% endfor %} {# Termina el bucle de errores generales del formulario #}
                {% endif %} {# Finaliza la verificación de errores generales del formulario #}
            </form> {# Finaliza el formulario #}
        </div>
    </div> {# Finaliza la fila #}
</div> {# Finaliza el contenedor principal #}
{% endblock main-content %} {# Finaliza el bloque principal del contenido #}
