{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'app/img/portada/b3.png' %}" class="d-block w-100" alt="banner-img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/portada/b2.png' %}" class="d-block w-100" alt="banner-img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/portada/b1.png' %}" class="d-block w-100" alt="banner-img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/portada/b4.png' %}" class="d-block w-100" alt="banner-img">
        </div>
    </div>
</div>
{% endblock banner_slider %}

{% block main-content %}
<div class="container mt-5">
    <h1 class="text-center">Contact Our Fashion Experts</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title text-center">Visit Our Fashion Hub</h5>
                    <p class="card-text text-center">Experience the Epitome of Luxury:</p>
                    <!-- Dirección -->
                    <address class="card-text text-center">
                        123 High Fashion Avenue<br>
                        Chic City, CH 12345<br>
                    </address>
                    <p class="card-text text-center">Connect with Us via Email:</p>
                    <!-- Correo electrónico -->
                    <p class="card-text text-center"><a href="mailto:info@yourfashionhub.com" class="glamour-link">info@yourfashionhub.com</a></p>
                    <p class="card-text text-center">Or Reach Our Style Experts by Phone:</p>
                    <!-- Número de teléfono -->
                    <p class="card-text text-center"><a href="tel:+11234567890" class="glamour-link">+1 (123) 456-7890</a></p>
                </div>
            </div>
            <div class="mt-4">
                <h5 class="text-center">Discover Our Location</h5>
                <!-- Mapa de Google -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12345.67890!2d-86.12345678!3d39.12345678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDEzJzE2LjQiTiA4NsKwNTMnMjMuNiJX!5e0!3m2!1sen!2sus!4v1607419615152!5m2!1sen!2sus" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
