{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/img/portada/b1.png' %}" class="d-block w-100" alt="banner-img">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/portada/b2.png' %}" class="d-block w-100" alt="banner-img">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/portada/b3.png' %}" class="d-block w-100" alt="banner-img">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/portada/b4.png' %}" class="d-block w-100" alt="banner-img">
      </div>
    </div>
</div>
{% endblock banner_slider %}

{% block information %}
<div class="container">
    <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class=fs-5>Welcome to GUCCI, your unique destination for elegant and comfortable clothing. We understand that style and comfort go hand in hand, which is why we've curated a diverse collection of pants that will not only keep you fashionable but also feel great to wear. Whether you're looking for trendy pants for a night out or relaxed styles for a casual day, GUCCI has something for every occasion. Shop now and elevate your trendy clothing style!
        </small>
    </div>
</div>
{% endblock information %}

{% block main-content %}
    <div class="container">
        <h2 class="text-center">Store Products<h2/>
        <br><br>
        {% comment %} mujeres {% endcomment %}
        <div class="row container">
            {% comment %} campera inflable {% endcomment %}
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'MJ' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/camperas-inflable.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">women's jacket</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} falda tabla {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk buttermilk">
                    <a href="{% url 'category' 'MJ' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/faldas-tabla.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">skirt with boards</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} pullover beige de mujer {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'MJ' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/pullover-beige.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">women's pullover</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <br><br>
        {% comment %} hombres  {% endcomment %}
        <div class="row container">
            {% comment %} pantalon cargo {% endcomment %}
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'HM' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/pantalon-cargo.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">cargo pants</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} sueter de hombre {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk buttermilk">
                    <a href="{% url 'category' 'HM' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/sueter-hombre.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">man sweater</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} zapatillas sport {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'ZA' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/zapatillas-sport.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">sneakers</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <br><br>
        {% comment %} trajes {% endcomment %}
        <div class="row container">
            {% comment %}  {% endcomment %}
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'TR' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/traje-bordo.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">men's board suit</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} sueter de hombre {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk buttermilk">
                    <a href="{% url 'category' 'TR' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/traje-gris.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">gray suit for women</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} traje verde musgo de hombre  {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'TR' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/traje-verde.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">men's moss green suit</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <br><br>
        {% comment %} tacos de mujer {% endcomment %}
        <div class="row container">
            {% comment %}  tacos beige de casamiento {% endcomment %}
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'TC' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/zapatos-beige.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">beige stiletto heels</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} tacos rojos de mujer  {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk buttermilk">
                    <a href="{% url 'category' 'TC' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/tacos-rojos.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">red high heels</p>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %} tacos dorados  {% endcomment %}
            <div class="col-sm-4 col-md-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="#{% url 'category' 'TC' %}">
                        <div class="goodnesssec text-center">
                            <img src="{% static 'app/img/producto/tacos-dorados.png' %}" class="img-responsive center-block img-fluid" alt="">
                            <p class="mlkpro">golden heel</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <br/><br/>
{% endblock main-content %}