{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
 
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Confirm</h3>
            <hr>
            <!-- Comienza el formulario de confirmación de contraseña -->
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                <!-- Itera sobre los campos del formulario -->
                {% for fm in form %}
                    <!-- Muestra la etiqueta del campo y el campo en sí -->
                    {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small> <br>
                {% endfor %}

                <!-- Agrega un botón de envío del formulario -->
                <input type="submit" class="btn btn-primary mt-4" value="Confirm Password">
                <br>
                <!-- Verifica si hay errores no relacionados con campos -->
                {% if form.non_field_errors %}
                    <!-- Itera sobre los errores y muestra una alerta de error -->
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </form>
            <!-- Finaliza el formulario de confirmación de contraseña -->
        </div>
    </div>
</div>
{% endblock main-content %}