{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
 
{% block main-content %}
<!-- Abre un bloque de contenido principal -->
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <!-- Crea una fila en el diseño de Bootstrap -->
            <h3 class="alert-heading">Well Done!</h3>
            <!-- Muestra un mensaje de encabezado -->
            <p>An Email has been sent with instructions to reset your password <b> Please check Email </b></p>
            <!-- Muestra un mensaje de confirmación y resalta "Please check Email" en negrita -->
        </div>
    </div>
</div>
<!-- Cierra el bloque de contenido principal -->
{% endblock main-content %}