{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
    <h3>Welcome {{request.user.username|capfirst}}</h3>
    <div clas="col-sm-2 borer-end">
        <ul class="list-unstyled">
            <li class="d-grid">
                <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
        <h3>Password Changed Successfully!!!</h3>
        <div>
            <iframe src="https://giphy.com/embed/mFD8YeF2sEQBIvrBF4" width="480" height="295" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>     
</div>
{% endblock main-content %}