{% extends 'app/base.html' %}
{% load static %}
{% block title %} Password Reset Complete{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row my-3">
        <div class="col-sm-6 offset-3">
            <!-- Título de la página -->
            <h3>Reset Password Complete</h3>
            <hr>
            <!-- Insertar un GIF de tu elección -->
            <div>
                <iframe src="https://giphy.com/embed/3oz9ZE2Oo9zRC" width="480" height="216" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}