{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row my-3">
    <div clas="col-sm-6 offset-ssm-3">
        <h3>Reset Password Complete</h3>
         <hr>
            <div>
                <iframe src="https://giphy.com/embed/3oz9ZE2Oo9zRC" width="480" height="216" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>     
</div>
{% endblock main-content %}