{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <!-- Encabezado de bienvenida -->
        <h3>Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end"> 
            <ul class="list-unstyled">
                <!-- Enlace para cambiar la contraseña -->
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <!-- Mensaje de éxito de cambio de contraseña -->
            <h3>Password Changed Successfully!!!</h3>
            <div>
                <!-- Insertar un GIF animado opcional para dar un toque de diversión -->
                <iframe src="https://giphy.com/embed/mFD8YeF2sEQBIvrBF4" width="480" height="295" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}