{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Result{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-8">
        <div class="row">
            {% for prod in product %}
              <div class="col-sm-4 text-center mb-4 hover-shadow">
                <a href="{% url 'product-detail' prod.id %}" class="btn">
                    <div>
                        <!-- Imagen del producto -->
                        <img src="{{prod.product_image.url}}" width="300px" style="max-width: 100%;" />
                        <!-- Título del producto -->
                        <div class="fw-bold">{{prod.title}}</div>
                        <!-- Precio con descuento y precio original -->
                        <div class="fw-bold text-danger">
                            $. {{prod.discounted_price}}/- <!-- Precio con descuento -->
                            <small class="fw-light text-decoration-line-through">{{prod.selling_price}}</small> <!-- Precio original tachado -->
                        </div>
                    </div>
                </a>
              </div>
            {% endfor %}
        </div> 
    </div>   
  </div>   
</div>
{% endblock main-content %}