/* Estilos para elementos en el carrusel */
.owl-carousel .item {
    /* border: 1px solid black; */ /* Comentario: Borde del elemento */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    transition: transform .2s ease; /* Comentario: Transición suave al hacer hover */
  }
  
  /* Estilo CSS personalizado para hacer el carrusel responsivo en altura */
  .carousel {
    max-height: 80vh; /* Ajusta la altura máxima según tus preferencias */
  }
  
  /* Estilos al hacer hover en el elemento del carrusel */
  .owl-carousel .item:hover {
    /* border: 1px solid black; */ /* Comentario: Borde del elemento al hacer hover */
    transform: scale(1.1); /* Comentario: Aumenta el tamaño al hacer hover */
  }
  
  /* Estilos para imágenes en el carrusel */
  .owl-carousel img {
    transition: transform .2s ease; /* Comentario: Transición suave al hacer hover en la imagen */
  }
  
  /* Estilos al hacer hover en las imágenes del carrusel */
  .owl-carousel img:hover {
    transform: scale(1); /* Comentario: Restablece el tamaño al hacer hover en la imagen */
  }
  
  /* Estilos para las flechas de navegación derecha e izquierda */
  .owl-next {
    float: right;
  }
  
  .owl-prev {
    float: left;
  }
  
  .owl-prev span,
  .owl-next span {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Estilos para secciones específicas con fondos */
  .buttermilk {
    background-color: #fff;
    background-image: linear-gradient(#fff7ef, #fff);
    background-image: -webkit-linear-gradient(#fff7ef, #fff);
    background-image: -moz-linear-gradient(#fff7ef, #fff);
    background-image: -ms-linear-gradient(#fff7ef, #fff);
    background-image: -o-linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 1px solid #efe8e1;
    padding-bottom: 20px;
  }
  
  .smbg {
    background-color: #fff;
    background-image: linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image: -o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
  }
  
  .curdbgpro {
    background-color: #fff;
    background-image: linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image: -o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
  }
  
  /* Estilos para imágenes en una sección específica */
  .goodnessseccont img {
    width: 100%;
  }
  
  /* Estilos para elementos de una sección específica */
  .mlkpro {
    color: #636362;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
    width: 43%;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Estilos para enlaces en una sección específica */
  .goodnesssec a {
    text-decoration: none;
  }
  